/*
Syntax error: Invalid CSS after "*": expected selector, was "= require_self"
        on line 2 of /Users/methyl/Workspace/mysenso/app/assets/stylesheets/application.sass

1: /* ...
2: *= require_self
3: *= require_tree .
4: */

Backtrace:
/Users/methyl/Workspace/mysenso/app/assets/stylesheets/application.sass:2
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/scss/parser.rb:929:in `expected'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/scss/parser.rb:875:in `expected'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/scss/static_parser.rb:19:in `parse_selector'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:230:in `visit_rule'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/tree/root_node.rb:20:in `render'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/engine.rb:300:in `_render'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/engine.rb:248:in `block in render'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/engine.rb:248:in `render'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/plugin/compiler.rb:200:in `each'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.12/lib/sass/plugin/rack.rb:51:in `call'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/warden-1.1.0/lib/warden/manager.rb:35:in `block in call'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/warden-1.1.0/lib/warden/manager.rb:34:in `catch'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/warden-1.1.0/lib/warden/manager.rb:34:in `call'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/actionpack-3.1.0/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/rack-1.3.6/lib/rack/etag.rb:23:in `call'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/rack-1.3.6/lib/rack/conditionalget.rb:25:in `call'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/actionpack-3.1.0/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/actionpack-3.1.0/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/actionpack-3.1.0/lib/action_dispatch/middleware/flash.rb:243:in `call'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/rack-1.3.6/lib/rack/session/abstract/id.rb:195:in `context'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/rack-1.3.6/lib/rack/session/abstract/id.rb:190:in `call'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/actionpack-3.1.0/lib/action_dispatch/middleware/cookies.rb:326:in `call'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/actionpack-3.1.0/lib/action_dispatch/middleware/callbacks.rb:29:in `block in call'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/activesupport-3.1.0/lib/active_support/callbacks.rb:392:in `_run_call_callbacks'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/activesupport-3.1.0/lib/active_support/callbacks.rb:81:in `run_callbacks'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/actionpack-3.1.0/lib/action_dispatch/middleware/callbacks.rb:28:in `call'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/actionpack-3.1.0/lib/action_dispatch/middleware/reloader.rb:68:in `call'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/rack-1.3.6/lib/rack/sendfile.rb:101:in `call'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/actionpack-3.1.0/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/actionpack-3.1.0/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/railties-3.1.0/lib/rails/rack/logger.rb:13:in `call'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/rack-1.3.6/lib/rack/methodoverride.rb:24:in `call'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/rack-1.3.6/lib/rack/runtime.rb:17:in `call'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/activesupport-3.1.0/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/rack-1.3.6/lib/rack/lock.rb:15:in `call'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/actionpack-3.1.0/lib/action_dispatch/middleware/static.rb:53:in `call'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/railties-3.1.0/lib/rails/engine.rb:455:in `call'
/Users/methyl/.rvm/gems/ruby-1.9.3-p0/gems/railties-3.1.0/lib/rails/railtie/configurable.rb:30:in `method_missing'
/Users/methyl/.passenger/standalone/3.0.11-x86_64-ruby1.9.3-macosx-10.7/support/lib/phusion_passenger/rack/request_handler.rb:96:in `process_request'
/Users/methyl/.passenger/standalone/3.0.11-x86_64-ruby1.9.3-macosx-10.7/support/lib/phusion_passenger/abstract_request_handler.rb:513:in `accept_and_process_next_request'
/Users/methyl/.passenger/standalone/3.0.11-x86_64-ruby1.9.3-macosx-10.7/support/lib/phusion_passenger/abstract_request_handler.rb:274:in `main_loop'
/Users/methyl/.passenger/standalone/3.0.11-x86_64-ruby1.9.3-macosx-10.7/support/lib/phusion_passenger/rack/application_spawner.rb:206:in `start_request_handler'
/Users/methyl/.passenger/standalone/3.0.11-x86_64-ruby1.9.3-macosx-10.7/support/lib/phusion_passenger/rack/application_spawner.rb:171:in `block in handle_spawn_application'
/Users/methyl/.passenger/standalone/3.0.11-x86_64-ruby1.9.3-macosx-10.7/support/lib/phusion_passenger/utils.rb:479:in `safe_fork'
/Users/methyl/.passenger/standalone/3.0.11-x86_64-ruby1.9.3-macosx-10.7/support/lib/phusion_passenger/rack/application_spawner.rb:166:in `handle_spawn_application'
/Users/methyl/.passenger/standalone/3.0.11-x86_64-ruby1.9.3-macosx-10.7/support/lib/phusion_passenger/abstract_server.rb:357:in `server_main_loop'
/Users/methyl/.passenger/standalone/3.0.11-x86_64-ruby1.9.3-macosx-10.7/support/lib/phusion_passenger/abstract_server.rb:206:in `start_synchronously'
/Users/methyl/.passenger/standalone/3.0.11-x86_64-ruby1.9.3-macosx-10.7/support/lib/phusion_passenger/abstract_server.rb:180:in `start'
/Users/methyl/.passenger/standalone/3.0.11-x86_64-ruby1.9.3-macosx-10.7/support/lib/phusion_passenger/rack/application_spawner.rb:129:in `start'
/Users/methyl/.passenger/standalone/3.0.11-x86_64-ruby1.9.3-macosx-10.7/support/lib/phusion_passenger/spawn_manager.rb:253:in `block (2 levels) in spawn_rack_application'
/Users/methyl/.passenger/standalone/3.0.11-x86_64-ruby1.9.3-macosx-10.7/support/lib/phusion_passenger/abstract_server_collection.rb:132:in `lookup_or_add'
/Users/methyl/.passenger/standalone/3.0.11-x86_64-ruby1.9.3-macosx-10.7/support/lib/phusion_passenger/spawn_manager.rb:246:in `block in spawn_rack_application'
/Users/methyl/.passenger/standalone/3.0.11-x86_64-ruby1.9.3-macosx-10.7/support/lib/phusion_passenger/abstract_server_collection.rb:82:in `block in synchronize'
<internal:prelude>:10:in `synchronize'
/Users/methyl/.passenger/standalone/3.0.11-x86_64-ruby1.9.3-macosx-10.7/support/lib/phusion_passenger/abstract_server_collection.rb:79:in `synchronize'
/Users/methyl/.passenger/standalone/3.0.11-x86_64-ruby1.9.3-macosx-10.7/support/lib/phusion_passenger/spawn_manager.rb:244:in `spawn_rack_application'
/Users/methyl/.passenger/standalone/3.0.11-x86_64-ruby1.9.3-macosx-10.7/support/lib/phusion_passenger/spawn_manager.rb:137:in `spawn_application'
/Users/methyl/.passenger/standalone/3.0.11-x86_64-ruby1.9.3-macosx-10.7/support/lib/phusion_passenger/spawn_manager.rb:275:in `handle_spawn_application'
/Users/methyl/.passenger/standalone/3.0.11-x86_64-ruby1.9.3-macosx-10.7/support/lib/phusion_passenger/abstract_server.rb:357:in `server_main_loop'
/Users/methyl/.passenger/standalone/3.0.11-x86_64-ruby1.9.3-macosx-10.7/support/lib/phusion_passenger/abstract_server.rb:206:in `start_synchronously'
/Users/methyl/.passenger/standalone/3.0.11-x86_64-ruby1.9.3-macosx-10.7/support/helper-scripts/passenger-spawn-server:99:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"*\": expected selector, was \"= require_self\"\A         on line 2 of /Users/methyl/Workspace/mysenso/app/assets/stylesheets/application.sass\A \A 1: /* ...\A 2: *= require_self\A 3: *= require_tree .\A 4: */"; }
