/* line 447, ../../app/stylesheets/forms.sass */
form.registration-form {
  overflow: hidden;
  border-top: 1px dotted #dddddd;
  border-bottom: 1px dotted #dddddd;
  padding-bottom: 15px;
}
/* line 123, ../../app/stylesheets/forms.sass */
form.registration-form abbr {
  border: none;
  color: #ec25cb;
  margin-left: 3px;
  font-weight: bold;
}
/* line 135, ../../app/stylesheets/forms.sass */
form.registration-form ol {
  list-style-type: none;
  margin: 0;
}
/* line 143, ../../app/stylesheets/forms.sass */
form.registration-form ol li {
  display: block;
  padding: 5px 0;
  line-height: 24px;
  overflow: hidden;
}
/* line 155, ../../app/stylesheets/forms.sass */
form.registration-form li.date {
  clear: both;
  overflow: hidden;
}
/* line 163, ../../app/stylesheets/forms.sass */
form.registration-form li.date ol {
  padding-left: 103px;
}
/* line 169, ../../app/stylesheets/forms.sass */
form.registration-form li.date legend {
  font-weight: normal;
}
/* line 175, ../../app/stylesheets/forms.sass */
form.registration-form li.date legend label {
  float: none;
}
/* line 181, ../../app/stylesheets/forms.sass */
form.registration-form li.date li {
  float: left;
}
/* line 187, ../../app/stylesheets/forms.sass */
form.registration-form li.date li label {
  width: auto;
  padding-left: 5px;
}
/* line 195, ../../app/stylesheets/forms.sass */
form.registration-form li.date select {
  width: auto;
}
/* line 201, ../../app/stylesheets/forms.sass */
form.registration-form li.check_boxes, form.registration-form li.radio {
  clear: both;
  overflow: hidden;
}
/* line 209, ../../app/stylesheets/forms.sass */
form.registration-form li.check_boxes li, form.registration-form li.check_boxes li.boolean, form.registration-form li.radio li, form.registration-form li.radio li.boolean {
  float: left;
  padding: 0;
}
/* line 217, ../../app/stylesheets/forms.sass */
form.registration-form li.check_boxes li label, form.registration-form li.check_boxes li.boolean label, form.registration-form li.radio li label, form.registration-form li.radio li.boolean label {
  width: 110px;
  text-align: left;
}
/* line 225, ../../app/stylesheets/forms.sass */
form.registration-form li.check_boxes legend, form.registration-form li.radio legend {
  display: none;
}
/* line 235, ../../app/stylesheets/forms.sass */
form.registration-form li.boolean label {
  float: left;
  width: 162px;
}
/* line 243, ../../app/stylesheets/forms.sass */
form.registration-form li.boolean input {
  float: right;
  margin-left: 12px;
}
/* line 251, ../../app/stylesheets/forms.sass */
form.registration-form label {
  width: 140px;
  text-align: right;
  margin-right: 5px;
  display: block;
  float: left;
}
/* line 365, ../../app/stylesheets/forms.sass */
form.registration-form input {
  display: block;
  float: left;
  outline: none;
}
/* line 377, ../../app/stylesheets/forms.sass */
form.registration-form input[type=checkbox], form.registration-form input[type=radio] {
  height: 18px;
}
/* line 385, ../../app/stylesheets/forms.sass */
form.registration-form select {
  display: block;
  float: left;
  width: 212px;
}
/* line 395, ../../app/stylesheets/forms.sass */
form.registration-form textarea {
  background: white url(../images/layout/input-text-bg.png) repeat-x top;
  font-family: Arial, sans-serif;
  height: 130px;
  width: 500px;
  border: 1px solid #dddddd;
}
/* line 409, ../../app/stylesheets/forms.sass */
form.registration-form input[type=text], form.registration-form input[type=password], form.registration-form input[type=email] {
  height: 18px;
  background: url(../images/layout/input-text-bg.png) repeat-x top;
  border: 1px solid #dddddd;
  padding-left: 5px;
  width: 205px;
  font-size: 12px;
  line-height: 18px;
}
/* line 431, ../../app/stylesheets/forms.sass */
form.registration-form input[type=text]:focus, form.registration-form input[type=password]:focus, form.registration-form input[type=email]:focus {
  border: 1px solid #dfa2ce;
  outline: none;
  -webkit-box-shadow: 0px 0px 4px #dfa2ce;
  -moz-box-shadow: 0px 0px 4px #dfa2ce;
  box-shadow: 0px 0px 4px #dfa2ce;
}
/* line 271, ../../app/stylesheets/forms.sass */
form.registration-form legend {
  font-weight: bold;
}
/* line 277, ../../app/stylesheets/forms.sass */
form.registration-form > fieldset.inputs {
  border-bottom: 1px dotted #dddddd;
  margin-top: 15px;
}
/* line 283, ../../app/stylesheets/forms.sass */
form.registration-form > fieldset.inputs > legend {
  font-size: 16px;
  color: #593553;
  font-weight: bold;
}
/* line 295, ../../app/stylesheets/forms.sass */
form.registration-form li.error {
  padding: 0;
  margin: 0;
  border: none;
  background: white;
  color: inherit;
}
/* line 309, ../../app/stylesheets/forms.sass */
form.registration-form li.error input {
  border: 1px solid #8a1f11;
}
/* line 315, ../../app/stylesheets/forms.sass */
form.registration-form li.error p.inline-errors {
  display: block;
  clear: both;
  margin: 0;
  margin-left: 147px;
  color: #8a1f11;
}
/* line 329, ../../app/stylesheets/forms.sass */
form.registration-form fieldset {
  display: block;
  clear: both;
  float: left;
  width: 100%;
  *width: 500px;
}
/* line 345, ../../app/stylesheets/forms.sass */
form.registration-form p.inline-hints {
  margin: 0;
  padding-left: 146px;
  clear: both;
  font-size: 11px;
  color: #aaaaaa;
}
/* line 461, ../../app/stylesheets/forms.sass */
form.registration-form p.description {
  font-size: 11px;
  text-align: justify;
}
/* line 469, ../../app/stylesheets/forms.sass */
form.registration-form fieldset.inputs {
  border-bottom: 0;
  float: left;
  width: 500px;
  border-right: 1px dotted #dddddd;
}
/* line 481, ../../app/stylesheets/forms.sass */
form.registration-form ul.links {
  display: block;
  float: left;
  padding-left: 60px;
  margin-top: 14px;
  padding-top: 50px;
  margin-left: 1px;
  list-style-type: none;
  background: url(../images/layout/info.png) no-repeat top left;
}
/* line 501, ../../app/stylesheets/forms.sass */
form.registration-form ul.links li {
  padding: 5px 0;
  text-indent: 10px;
  background: url(../images/layout/dot-bullet.png) no-repeat left;
}
/* line 511, ../../app/stylesheets/forms.sass */
form.registration-form input.create {
  margin-left: 232px;
}

/* line 521, ../../app/stylesheets/forms.sass */
form.profile-edit input.update {
  float: right;
  margin-right: 24px;
}

/* line 123, ../../app/stylesheets/forms.sass */
form.default-form abbr {
  border: none;
  color: #ec25cb;
  margin-left: 3px;
  font-weight: bold;
}
/* line 135, ../../app/stylesheets/forms.sass */
form.default-form ol {
  list-style-type: none;
  margin: 0;
}
/* line 143, ../../app/stylesheets/forms.sass */
form.default-form ol li {
  display: block;
  padding: 5px 0;
  line-height: 24px;
  overflow: hidden;
}
/* line 155, ../../app/stylesheets/forms.sass */
form.default-form li.date {
  clear: both;
  overflow: hidden;
}
/* line 163, ../../app/stylesheets/forms.sass */
form.default-form li.date ol {
  padding-left: 103px;
}
/* line 169, ../../app/stylesheets/forms.sass */
form.default-form li.date legend {
  font-weight: normal;
}
/* line 175, ../../app/stylesheets/forms.sass */
form.default-form li.date legend label {
  float: none;
}
/* line 181, ../../app/stylesheets/forms.sass */
form.default-form li.date li {
  float: left;
}
/* line 187, ../../app/stylesheets/forms.sass */
form.default-form li.date li label {
  width: auto;
  padding-left: 5px;
}
/* line 195, ../../app/stylesheets/forms.sass */
form.default-form li.date select {
  width: auto;
}
/* line 201, ../../app/stylesheets/forms.sass */
form.default-form li.check_boxes, form.default-form li.radio {
  clear: both;
  overflow: hidden;
}
/* line 209, ../../app/stylesheets/forms.sass */
form.default-form li.check_boxes li, form.default-form li.check_boxes li.boolean, form.default-form li.radio li, form.default-form li.radio li.boolean {
  float: left;
  padding: 0;
}
/* line 217, ../../app/stylesheets/forms.sass */
form.default-form li.check_boxes li label, form.default-form li.check_boxes li.boolean label, form.default-form li.radio li label, form.default-form li.radio li.boolean label {
  width: 110px;
  text-align: left;
}
/* line 225, ../../app/stylesheets/forms.sass */
form.default-form li.check_boxes legend, form.default-form li.radio legend {
  display: none;
}
/* line 235, ../../app/stylesheets/forms.sass */
form.default-form li.boolean label {
  float: left;
  width: 162px;
}
/* line 243, ../../app/stylesheets/forms.sass */
form.default-form li.boolean input {
  float: right;
  margin-left: 12px;
}
/* line 251, ../../app/stylesheets/forms.sass */
form.default-form label {
  width: 140px;
  text-align: right;
  margin-right: 5px;
  display: block;
  float: left;
}
/* line 365, ../../app/stylesheets/forms.sass */
form.default-form input {
  display: block;
  float: left;
  outline: none;
}
/* line 377, ../../app/stylesheets/forms.sass */
form.default-form input[type=checkbox], form.default-form input[type=radio] {
  height: 18px;
}
/* line 385, ../../app/stylesheets/forms.sass */
form.default-form select {
  display: block;
  float: left;
  width: 212px;
}
/* line 395, ../../app/stylesheets/forms.sass */
form.default-form textarea {
  background: white url(../images/layout/input-text-bg.png) repeat-x top;
  font-family: Arial, sans-serif;
  height: 130px;
  width: 500px;
  border: 1px solid #dddddd;
}
/* line 409, ../../app/stylesheets/forms.sass */
form.default-form input[type=text], form.default-form input[type=password], form.default-form input[type=email] {
  height: 18px;
  background: url(../images/layout/input-text-bg.png) repeat-x top;
  border: 1px solid #dddddd;
  padding-left: 5px;
  width: 205px;
  font-size: 12px;
  line-height: 18px;
}
/* line 431, ../../app/stylesheets/forms.sass */
form.default-form input[type=text]:focus, form.default-form input[type=password]:focus, form.default-form input[type=email]:focus {
  border: 1px solid #dfa2ce;
  outline: none;
  -webkit-box-shadow: 0px 0px 4px #dfa2ce;
  -moz-box-shadow: 0px 0px 4px #dfa2ce;
  box-shadow: 0px 0px 4px #dfa2ce;
}
/* line 271, ../../app/stylesheets/forms.sass */
form.default-form legend {
  font-weight: bold;
}
/* line 277, ../../app/stylesheets/forms.sass */
form.default-form > fieldset.inputs {
  border-bottom: 1px dotted #dddddd;
  margin-top: 15px;
}
/* line 283, ../../app/stylesheets/forms.sass */
form.default-form > fieldset.inputs > legend {
  font-size: 16px;
  color: #593553;
  font-weight: bold;
}
/* line 295, ../../app/stylesheets/forms.sass */
form.default-form li.error {
  padding: 0;
  margin: 0;
  border: none;
  background: white;
  color: inherit;
}
/* line 309, ../../app/stylesheets/forms.sass */
form.default-form li.error input {
  border: 1px solid #8a1f11;
}
/* line 315, ../../app/stylesheets/forms.sass */
form.default-form li.error p.inline-errors {
  display: block;
  clear: both;
  margin: 0;
  margin-left: 147px;
  color: #8a1f11;
}
/* line 329, ../../app/stylesheets/forms.sass */
form.default-form fieldset {
  display: block;
  clear: both;
  float: left;
  width: 100%;
  *width: 500px;
}
/* line 345, ../../app/stylesheets/forms.sass */
form.default-form p.inline-hints {
  margin: 0;
  padding-left: 146px;
  clear: both;
  font-size: 11px;
  color: #aaaaaa;
}

/* line 105, ../../app/stylesheets/layout.sass */
body {
  background: #260424 url(../images/layout/bg.png) repeat-x;
}
/* line 111, ../../app/stylesheets/layout.sass */
body #header {
  height: 185px;
  background: url(../images/layout/header-bg.jpg);
  color: #e3e3e3;
}
/* line 121, ../../app/stylesheets/layout.sass */
body #header #top-navigation > a {
  color: #e3e3e3;
}
/* line 127, ../../app/stylesheets/layout.sass */
body #header #login-box {
  display: none;
  border: 1px solid #666666;
  background: white url(../images/layout/modal-bg.png) repeat-x bottom;
  padding: 4px;
  padding-top: 32px;
}
/* line 17, ../../app/stylesheets/layout.sass */
body #header #login-box form {
  color: #333333;
}
/* line 365, ../../app/stylesheets/forms.sass */
body #header #login-box form input {
  display: block;
  float: left;
  outline: none;
}
/* line 377, ../../app/stylesheets/forms.sass */
body #header #login-box form input[type=checkbox], body #header #login-box form input[type=radio] {
  height: 18px;
}
/* line 385, ../../app/stylesheets/forms.sass */
body #header #login-box form select {
  display: block;
  float: left;
  width: 212px;
}
/* line 395, ../../app/stylesheets/forms.sass */
body #header #login-box form textarea {
  background: white url(../images/layout/input-text-bg.png) repeat-x top;
  font-family: Arial, sans-serif;
  height: 130px;
  width: 500px;
  border: 1px solid #dddddd;
}
/* line 409, ../../app/stylesheets/forms.sass */
body #header #login-box form input[type=text], body #header #login-box form input[type=password], body #header #login-box form input[type=email] {
  height: 18px;
  background: url(../images/layout/input-text-bg.png) repeat-x top;
  border: 1px solid #dddddd;
  padding-left: 5px;
  width: 205px;
  font-size: 12px;
  line-height: 18px;
}
/* line 431, ../../app/stylesheets/forms.sass */
body #header #login-box form input[type=text]:focus, body #header #login-box form input[type=password]:focus, body #header #login-box form input[type=email]:focus {
  border: 1px solid #dfa2ce;
  outline: none;
  -webkit-box-shadow: 0px 0px 4px #dfa2ce;
  -moz-box-shadow: 0px 0px 4px #dfa2ce;
  box-shadow: 0px 0px 4px #dfa2ce;
}
/* line 7, ../../app/stylesheets/forms.sass */
body #header #login-box form ol {
  list-style-type: none;
}
/* line 11, ../../app/stylesheets/forms.sass */
body #header #login-box form abbr {
  display: none;
}
/* line 17, ../../app/stylesheets/forms.sass */
body #header #login-box form input.text, body #header #login-box form input.title, body #header #login-box form input[type=email], body #header #login-box form input[type=text], body #header #login-box form input[type=password] {
  height: 18px;
  font-size: 14px;
  padding: 2px;
  margin: 5px 0;
}
/* line 37, ../../app/stylesheets/forms.sass */
body #header #login-box form fieldset.inputs label {
  width: 40px;
  text-align: right;
  line-height: 24px;
  margin: 5px 0;
  margin-right: 4px;
}
/* line 65, ../../app/stylesheets/forms.sass */
body #header #login-box form fieldset.inputs label, body #header #login-box form fieldset.inputs input {
  display: block;
  float: left;
  height: 17px;
  line-height: 17px;
  padding: 4px 2px;
}
/* line 79, ../../app/stylesheets/forms.sass */
body #header #login-box form fieldset.buttons {
  padding-left: 44px;
}
/* line 85, ../../app/stylesheets/forms.sass */
body #header #login-box form fieldset.buttons .remember-me label {
  margin-top: -1px;
  font-size: 11px;
}
/* line 93, ../../app/stylesheets/forms.sass */
body #header #login-box form fieldset.buttons .remember-me input[type=checkbox] {
  margin-top: 0px;
  margin-right: 6px;
}
/* line 99, ../../app/stylesheets/forms.sass */
body #header #login-box form fieldset.buttons .create {
  margin: 8px 14px;
}
/* line 105, ../../app/stylesheets/forms.sass */
body #header #login-box form .links {
  font-size: 11px;
  text-align: center;
}
/* line 113, ../../app/stylesheets/forms.sass */
body #header #login-box form ol {
  margin: 0;
  margin-right: 28px;
}
/* line 137, ../../app/stylesheets/layout.sass */
body #header #login-box form ol {
  margin-right: 10px;
}
/* line 143, ../../app/stylesheets/layout.sass */
body #header #login-box h2 {
  border-left: 4px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  font-size: 14px;
  font-weight: bold;
  color: #6b6b6b;
  background-color: #f6f6f6;
  text-indent: 8px;
  position: relative;
  width: 290px;
  position: absolute;
  top: 1px;
  left: 1px;
}
/* line 157, ../../app/stylesheets/layout.sass */
body #header #login-box a.close {
  display: block;
  position: absolute;
  top: 1px;
  right: 1px;
}
/* line 167, ../../app/stylesheets/layout.sass */
body #header #login-box ul.links {
  display: block;
  float: left;
  list-style-type: none;
  text-align: left;
  color: #8c8c8c;
  padding: 0;
  padding-top: 10px;
  margin-left: 20px;
  margin-top: 15px;
  border-top: 1px dotted #c9c9c9;
}
/* line 191, ../../app/stylesheets/layout.sass */
body #header #login-box ul.links li {
  text-indent: 10px;
  background: url(../images/layout/grey-dot-bullet.png) no-repeat left;
}
/* line 199, ../../app/stylesheets/layout.sass */
body #wrapper {
  background-color: #e2e2e2;
  padding-bottom: 20px;
}
/* line 207, ../../app/stylesheets/layout.sass */
body #wrapper .box {
  background-color: white;
  border: 1px solid #cccccc;
  overflow: hidden;
}
/* line 217, ../../app/stylesheets/layout.sass */
body #wrapper .box > h2 {
  border-left: 4px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  font-size: 14px;
  font-weight: bold;
  color: #6b6b6b;
  background-color: #f6f6f6;
  text-indent: 8px;
  position: relative;
}
/* line 229, ../../app/stylesheets/layout.sass */
body #sidebar .padding {
  padding: 0 6px 20px 6px;
}
/* line 235, ../../app/stylesheets/layout.sass */
body #sidebar .avatar {
  background-color: #f6f6f6;
  margin: 10px auto;
  margin-top: 0;
  text-align: center;
  border: 1px solid #dddddd;
  width: 176px;
}
/* line 67, ../../app/stylesheets/layout.sass */
body #sidebar .avatar img.avatar {
  width: 160px;
  display: block;
  margin: 7px auto;
}
/* line 77, ../../app/stylesheets/layout.sass */
body #sidebar .avatar .name {
  border-top: 1px solid #dddddd;
  line-height: 24px;
  height: 24px;
  margin-bottom: 0;
  font-size: 14px;
  color: #593553;
  font-weight: bold;
  font-family: Tahoma, sans-serif;
}
/* line 95, ../../app/stylesheets/layout.sass */
body #sidebar .avatar .name a {
  text-decoration: none;
  color: #593553;
}
/* line 101, ../../app/stylesheets/layout.sass */
body #sidebar .avatar .name a:hover {
  text-decoration: underline;
}
/* line 241, ../../app/stylesheets/layout.sass */
body #sidebar ul.menu {
  list-style-type: none;
  color: #593553;
  padding: 0;
  margin: 0;
}
/* line 251, ../../app/stylesheets/layout.sass */
body #sidebar ul.menu li {
  height: 26px;
  line-height: 26px;
  border-bottom: 1px solid #dddddd;
}
/* line 259, ../../app/stylesheets/layout.sass */
body #sidebar ul.menu li a {
  display: block;
  height: 26px;
  background: url(../images/layout/dot-bullet.png) no-repeat right center;
  color: #593553;
  text-decoration: none;
}
/* line 271, ../../app/stylesheets/layout.sass */
body #sidebar ul.menu li a:hover {
  color: #ec25cb;
  background: url(../images/layout/dot-bullet-h.png) no-repeat right center;
}
/* line 281, ../../app/stylesheets/layout.sass */
body #content #private-message {
  background-color: #f6f6f6;
  position: relative;
  min-height: 240px;
  padding-bottom: 7px;
}
/* line 291, ../../app/stylesheets/layout.sass */
body #content #private-message .head {
  background-color: #e2e2e2;
  padding-left: 190px;
  overflow: hidden;
  height: 24px;
  line-height: 24px;
}
/* line 303, ../../app/stylesheets/layout.sass */
body #content #private-message .head a {
  display: block;
  float: left;
}
/* line 309, ../../app/stylesheets/layout.sass */
body #content #private-message .head .date {
  float: right;
  font-weight: bold;
  color: black;
  padding-right: 5px;
}
/* line 319, ../../app/stylesheets/layout.sass */
body #content #private-message div.avatar {
  background-color: #f6f6f6;
  margin: 10px auto;
  margin-top: 0;
  text-align: center;
  border: 1px solid #dddddd;
  width: 176px;
  position: absolute;
  top: 3px;
  left: 7px;
}
/* line 67, ../../app/stylesheets/layout.sass */
body #content #private-message div.avatar img.avatar {
  width: 160px;
  display: block;
  margin: 7px auto;
}
/* line 77, ../../app/stylesheets/layout.sass */
body #content #private-message div.avatar .name {
  border-top: 1px solid #dddddd;
  line-height: 24px;
  height: 24px;
  margin-bottom: 0;
  font-size: 14px;
  color: #593553;
  font-weight: bold;
  font-family: Tahoma, sans-serif;
}
/* line 95, ../../app/stylesheets/layout.sass */
body #content #private-message div.avatar .name a {
  text-decoration: none;
  color: #593553;
}
/* line 101, ../../app/stylesheets/layout.sass */
body #content #private-message div.avatar .name a:hover {
  text-decoration: underline;
}
/* line 331, ../../app/stylesheets/layout.sass */
body #content #private-message div.avatar a.delete {
  position: absolute;
  bottom: -27px;
  right: -1px;
  padding: 4px;
  padding-bottom: 0;
  border: 1px solid #dddddd;
  border-top: none;
  background: #f6f6f6;
}
/* line 351, ../../app/stylesheets/layout.sass */
body #content #private-message h3 {
  padding-left: 190px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  height: 20px;
  color: #593553;
}
/* line 367, ../../app/stylesheets/layout.sass */
body #content #private-message .content {
  padding-left: 185px;
  padding-top: 5px;
  min-height: 200px;
  background: white;
  margin: 0px 10px;
}
/* line 381, ../../app/stylesheets/layout.sass */
body #content #private-message .reply {
  overflow: hidden;
}
/* line 387, ../../app/stylesheets/layout.sass */
body #content #private-messages {
  background-color: #f6f6f6;
  padding: 5px;
}
/* line 395, ../../app/stylesheets/layout.sass */
body #content #private-messages table tr.menu {
  background-color: #e2e2e2;
}
/* line 399, ../../app/stylesheets/layout.sass */
body #content #private-messages table tr.menu td:first-child {
  padding: 0;
}
/* line 403, ../../app/stylesheets/layout.sass */
body #content #private-messages table tr.menu td:last-child {
  text-align: right;
}
/* line 407, ../../app/stylesheets/layout.sass */
body #content #private-messages table tr.menu ul {
  list-style-type: none;
  padding-left: 2px;
}
/* line 413, ../../app/stylesheets/layout.sass */
body #content #private-messages table tr.menu ul li {
  float: left;
}
/* line 419, ../../app/stylesheets/layout.sass */
body #content #private-messages table tr.menu ul li a {
  color: #333333;
  text-decoration: none;
  display: block;
  width: 75px;
  height: 26px;
  margin-top: 1px;
  text-align: center;
  line-height: 26px;
  padding-top: 1px;
  margin-right: 2px;
  float: left;
  position: relative;
  top: 1px;
}
/* line 449, ../../app/stylesheets/layout.sass */
body #content #private-messages table tr.menu ul li.selected a, body #content #private-messages table tr.menu ul li:hover a {
  border-top: 1px solid #c27caf;
  background-color: #f6f6f6;
  padding-top: 0;
  color: #c434ac;
}
/* line 461, ../../app/stylesheets/layout.sass */
body #content #private-messages table tr.head {
  background-color: transparent;
}
/* line 465, ../../app/stylesheets/layout.sass */
body #content #private-messages table tr.head td:first-child {
  padding-left: 10px;
}
/* line 469, ../../app/stylesheets/layout.sass */
body #content #private-messages table tr.head td {
  font-weight: bold;
}
/* line 475, ../../app/stylesheets/layout.sass */
body #content #private-messages table tr.row {
  background-color: white;
}
/* line 479, ../../app/stylesheets/layout.sass */
body #content #private-messages table tr.row td:first-child {
  border-left: 5px solid white;
}
/* line 483, ../../app/stylesheets/layout.sass */
body #content #private-messages table tr.row td:last-child {
  border-right: 5px solid white;
  text-align: right;
}
/* line 491, ../../app/stylesheets/layout.sass */
body #content #private-messages table tr.row td {
  border-bottom: 1px dotted #cccccc;
}
/* line 495, ../../app/stylesheets/layout.sass */
body #content #private-messages table tr.row td img {
  vertical-align: middle;
}
/* line 499, ../../app/stylesheets/layout.sass */
body #content #private-messages table tr.row td img.avatar {
  height: 48px;
}
/* line 503, ../../app/stylesheets/layout.sass */
body #content #private-messages table tr.row td span {
  font-size: 10px;
  color: #828282;
}
/* line 511, ../../app/stylesheets/layout.sass */
body #content #private-messages table tr.checked {
  background-color: #f7f7f7;
}
/* line 517, ../../app/stylesheets/layout.sass */
body #content #private-messages table tr.unread, body #content #private-messages table tr:hover {
  background-color: #f4e8f3;
}
