/* line 23, ../../app/stylesheets/layout.sass */
body {
  background: #260424 url(../images/layout/bg.png) repeat-x;
}
/* line 29, ../../app/stylesheets/layout.sass */
body #header {
  height: 185px;
  background: url(../images/layout/header-bg.jpg);
  color: #e3e3e3;
}
/* line 37, ../../app/stylesheets/layout.sass */
body #header a {
  color: #e3e3e3;
}
/* line 43, ../../app/stylesheets/layout.sass */
body #header #login-box {
  display: none;
  border: 1px solid #666666;
  background: white url(../images/layout/modal-bg.png) repeat-x bottom;
  padding: 10px;
}
/* line 17, ../../app/stylesheets/layout.sass */
body #header #login-box form {
  color: #333333;
}
/* line 7, ../../app/stylesheets/forms.sass */
body #header #login-box form ol {
  list-style-type: none;
}
/* line 11, ../../app/stylesheets/forms.sass */
body #header #login-box form abbr {
  display: none;
}
/* line 17, ../../app/stylesheets/forms.sass */
body #header #login-box form input.text, body #header #login-box form input.title, body #header #login-box form input[type=email], body #header #login-box form input[type=text], body #header #login-box form input[type=password] {
  height: 18px;
  font-size: 14px;
  padding: 2px;
  margin: 5px 0;
}
/* line 37, ../../app/stylesheets/forms.sass */
body #header #login-box form fieldset.inputs label {
  width: 40px;
  text-align: right;
  line-height: 24px;
  margin: 5px 0;
  margin-right: 4px;
}
/* line 65, ../../app/stylesheets/forms.sass */
body #header #login-box form fieldset.inputs label, body #header #login-box form fieldset.inputs input {
  display: block;
  float: left;
}
/* line 73, ../../app/stylesheets/forms.sass */
body #header #login-box form fieldset.buttons {
  padding-left: 41px;
}
/* line 79, ../../app/stylesheets/forms.sass */
body #header #login-box form fieldset.buttons .remember-me label {
  margin-top: -1px;
}
/* line 83, ../../app/stylesheets/forms.sass */
body #header #login-box form fieldset.buttons .create {
  margin-top: 15px;
  margin-left: 30px;
}
/* line 91, ../../app/stylesheets/forms.sass */
body #header #login-box form .links {
  text-align: center;
}
/* line 95, ../../app/stylesheets/forms.sass */
body #header #login-box form .links a {
  color: #b5048c;
}
/* line 99, ../../app/stylesheets/forms.sass */
body #header #login-box form .links a:hover {
  color: #d322aa;
}
/* line 49, ../../app/stylesheets/layout.sass */
body #header #registration-box {
  display: none;
  border: 1px solid #666666;
  background: white url(../images/layout/modal-bg.png) repeat-x bottom;
  padding: 10px;
}
/* line 17, ../../app/stylesheets/layout.sass */
body #header #registration-box form {
  color: #333333;
}
/* line 7, ../../app/stylesheets/forms.sass */
body #header #registration-box form ol {
  list-style-type: none;
}
/* line 11, ../../app/stylesheets/forms.sass */
body #header #registration-box form abbr {
  display: none;
}
/* line 17, ../../app/stylesheets/forms.sass */
body #header #registration-box form input.text, body #header #registration-box form input.title, body #header #registration-box form input[type=email], body #header #registration-box form input[type=text], body #header #registration-box form input[type=password] {
  height: 18px;
  font-size: 14px;
  padding: 2px;
  margin: 5px 0;
}
/* line 37, ../../app/stylesheets/forms.sass */
body #header #registration-box form fieldset.inputs label {
  width: 40px;
  text-align: right;
  line-height: 24px;
  margin: 5px 0;
  margin-right: 4px;
}
/* line 65, ../../app/stylesheets/forms.sass */
body #header #registration-box form fieldset.inputs label, body #header #registration-box form fieldset.inputs input {
  display: block;
  float: left;
}
/* line 73, ../../app/stylesheets/forms.sass */
body #header #registration-box form fieldset.buttons {
  padding-left: 41px;
}
/* line 79, ../../app/stylesheets/forms.sass */
body #header #registration-box form fieldset.buttons .remember-me label {
  margin-top: -1px;
}
/* line 83, ../../app/stylesheets/forms.sass */
body #header #registration-box form fieldset.buttons .create {
  margin-top: 15px;
  margin-left: 30px;
}
/* line 91, ../../app/stylesheets/forms.sass */
body #header #registration-box form .links {
  text-align: center;
}
/* line 95, ../../app/stylesheets/forms.sass */
body #header #registration-box form .links a {
  color: #b5048c;
}
/* line 99, ../../app/stylesheets/forms.sass */
body #header #registration-box form .links a:hover {
  color: #d322aa;
}
/* line 59, ../../app/stylesheets/layout.sass */
body #content {
  background-color: #e2e2e2;
}
/* line 65, ../../app/stylesheets/layout.sass */
body #content .box {
  background-color: white;
  padding: 1px;
  border: 1px solid #cccccc;
}
/* line 75, ../../app/stylesheets/layout.sass */
body #content .box h2 {
  border-left: 4px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  font-size: 14px;
  font-weight: bold;
  color: #6b6b6b;
  background-color: #f6f6f6;
  text-indent: 8px;
}
