@import blueprint/colors

@mixin basic-form
  ol
    list-style-type: none
  abbr
    display: none
  input 
    &.text,
    &.title,
    &[type=email],
    &[type=text],
    &[type=password]
      height: 18px
      font-size: 14px
      padding: 2px
      margin: 5px 0
  fieldset.inputs
    label
      width: 40px
      text-align: right
      line-height: 24px
      margin: 5px 0
      margin-right: 4px
  

@mixin modal-form
  @include basic-form

  color: $font-color

  fieldset.inputs
    label, input
      display: block
      float: left
      height: 17px
      line-height: 17px
      padding: 4px 2px

  fieldset.buttons
    padding-left: 44px
    .remember-me
      label
        margin-top: -1px
        font-size: 11px

      input[type=checkbox]
        margin-top: 0px
        margin-right: 6px
    .create
      margin: 8px 14px

  .links
    font-size: 11px
    text-align: center

  ol
    margin: 0
    margin-right: 28px

@mixin default-form
  abbr
    border: none
    color: $pink-color
    margin-left: 3px
    font-weight: bold

  ol
    list-style-type: none
    margin: 0

    li
      display: block
      padding: 5px 0
      line-height: 24px
      overflow: hidden

  li.date
    clear: both
    overflow: hidden

    ol
      padding-left: 103px

    legend
      font-weight: normal

    legend label
      float: none

    li
      float: left
      
      label
        width: auto
        padding-left: 5px

    select
      width: auto

  li.check_boxes, li.radio
    clear: both
    overflow: hidden

    li, li.boolean
      float: left
      padding: 0

      label
        width: 110px
        text-align: left

    legend
      display: none

  li.boolean

    label
      float: left
      width: 162px

    input
      float: right
      margin-left: 12px

  label
    width: 140px
    text-align: right
    margin-right: 5px
    display: block
    float: left


  @include default-form-inputs

  legend
    font-weight: bold

  >fieldset.inputs
    border-bottom: 1px dotted #ddd
    margin-top: 15px
    >legend
      font-size: 16px
      color: $dark-purple-color
      font-weight: bold


  li.error
    padding: 0
    margin: 0
    border: none
    background: #fff
    color: inherit

    input
      border: 1px solid $error-color

    p.inline-errors
      display: block
      clear: both
      margin: 0
      margin-left: 147px
      color: $error-color

  fieldset
    display: block
    clear: both
    float: left
    width: 100%
    *width: 500px


  p.inline-hints
    margin: 0
    padding-left: 146px
    clear: both
    font-size: 11px
    color: #aaa



@mixin default-form-inputs
  input
    display: block
    float: left
    outline: none

  input
    &[type=checkbox],
    &[type=radio]
      height: 18px

  select
    display: block
    float: left
    width: 212px

  textarea
    background: url(../images/layout/input-text-bg.png) repeat-x top
    font-family: Arial, sans-serif
    height: 130px
    width: 500px
    border: 1px solid #ddd
  input
    &[type=text],
    &[type=password],
    &[type=email]
      height: 18px
      background: url(../images/layout/input-text-bg.png) repeat-x top
      border: 1px solid #ddd
      padding-left: 5px
      width: 205px
      font-size: 12px
      line-height: 18px

      &:focus
        border: 1px solid #dfa2ce
        outline: none
        -webkit-box-shadow: 0px 0px 4px #dfa2ce
        -moz-box-shadow: 0px 0px 4px #dfa2ce
        box-shadow: 0px 0px 4px #dfa2ce


form.registration-form
  @include default-form
  overflow: hidden
  border-top: 1px dotted $border-color
  border-bottom: 1px dotted $border-color
  padding-bottom: 15px

  p.description
    font-size: 11px
    text-align: justify

  fieldset.inputs
    border-bottom: 0
    float: left
    width: 500px
    border-right: 1px dotted $border-color

  ul.links
    display: block
    float: left
    padding-left: 60px
    margin-top: 14px
    padding-top: 50px
    margin-left: 1px
    list-style-type: none
    background: url(../images/layout/info.png) no-repeat top left

    li
      padding: 5px 0
      text-indent: 10px
      background: url(../images/layout/dot-bullet.png) no-repeat left

  input.create
    margin-left: 232px
 

form.profile-edit
  input.update
    float: right
    margin-right: 24px
	